<h1>Create Snippet</h1>
<form class="row g-3" method="post" action="./dash/create">

  <div class="col-md-12">
    <label class="form-label" for="ageInput">
      Age
    </label>
    <input type="text" class="form-control" id="ageInput" name="age" placeholder="Enter your age here" value="<%= previousData ? previousData.age : '' %>" required autofocus />
  </div>

  <div class="col-md-12">
    <label class="form-label" for="nameInput">
      Name
    </label>
    <textarea class="form-control" id="nameInput" name="name" placeholder="Enter name" rows="1" required><%= previousData ? previousData.name : '' %></textarea>
  </div>

  <div class="col-md-12">
    <label class="form-label" for="emailInput">
      Email
    </label>
    <input type="text" class="form-control" id="emailInput" name="email" placeholder="Enter email" value="<%= previousData ? previousData.email : '' %>" required />
  </div>

  <div class="col-md-12">
    <label class="form-label" for="occupationInput">
      Occupation
    </label>
    <textarea class="form-control" id="occupationInput" name="occupation" placeholder="Enter occupation" rows="1" required><%= previousData ? previousData.occupation : '' %></textarea>
  </div>

  <div class="col-12">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="activeCheck" name="active" <%= previousData && previousData.active ? 'checked' : '' %> />
      <label class="form-check-label" for="activeCheck">
        Active
      </label>
    </div>
  </div>

  <div class="col-md-12">
    <label class="form-label" for="tagsInput">
      Tags
    </label>
    <input type="text" class="form-control" id="tagsInput" name="tags" placeholder="Enter tags, separated by commas" value="<%= previousData ? previousData.tags : '' %>" />
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>















<!-- <h1>Create Snippet</h1>
<form class="row g-3" method="post" action="./dash/create">

 

  <div class="col-md-12">
    <label class="form-label" for="ageInput">
      Age
    </label>
    <input type="text" class="form-control" id="ageInput" name="age" placeholder="Enter your age here" required autofocus />
  </div>
  

  <div class="col-md-12">
    <label class="form-label" for="nameInput">
      Name
    </label>
    <textarea class="form-control" id="nameInput" name="name" placeholder="Enter name" rows="1" required></textarea>
  </div>


  <div class="col-md-12">
    <label class="form-label" for="emailInput">
      Email
    </label>
    <input type="text" class="form-control" id="emailInput" name="email" placeholder="Enter email" required />
  </div>


  <div class="col-md-12">
    <label class="form-label" for="occupationInput">
      Occupation
    </label>
    <textarea class="form-control" id="occupationInput" name="occupation" placeholder="Enter occupation" rows="1" required></textarea>
  </div>

  
  <div class="col-12">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="activeCheck" name="active" />
      <label class="form-check-label" for="activeCheck">
        Active
      </label>
    </div>
  </div>

  <div class="col-md-12">
    <label class="form-label" for="tagsInput">
      Tags
    </label>
    <input type="text" class="form-control" id="tagsInput" name="tags" placeholder="Enter tags, separated by commas" />
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>
 -->