<h1>Delete Snippet</h1>

<p>Are you sure you want to delete the following snippet?</p>

<form class="row g-3" method="post" action="./dash/<%= viewData.id %>/delete">
  <input type="hidden" name="id" value="<%= viewData.id %>" />

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center px-4">Age</th>
        <th class="text-center px-4">Name</th>
        <th class="text-center px-4">@Email</th>
        <th class="text-center px-4">Occupation</th>
        <th class="text-center px-4">Status</th>
        <th class="text-center px-4">Tags</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center px-4"><%= viewData.age %></td>
        <td class="text-center px-4"><%- viewData.name %></td>
        <td class="text-center px-4"><%= viewData.email %></td>
        <td class="text-center px-4"><%- viewData.occupation %></td>
        <td class="text-center px-4"><%= viewData.active ? 'Active' : 'Inactive' %></td>
        <td class="text-center px-4"><%= viewData.tags?.join(', ') %></td>
      </tr>
    </tbody>
  </table>

  <div class="col-12">
    <button type="submit" class="btn btn-danger" autofocus="autofocus">Delete</button>
  </div>
</form>
