<h1>Update snippet</h1>
<form class="row g-3" method="post" action="./dash/<%= viewData?.id %>/update">


  <div class="col-md-12">
    <label class="form-label" for="ageInput">
      Age
    </label>
    <input type="text" class="form-control" id="ageInput" name="age" placeholder="Update age" value="<%= viewData?.age %>" required />
  </div>

  <div class="col-md-12">
    <label class="form-label" for="nameInput">
      Name
    </label>
    <textarea class="form-control" id="nameInput" name="name" placeholder="Update name" rows="1" required><%= viewData?.name %></textarea>
  </div>

  <div class="col-md-12">
    <label class="form-label" for="emailInput">
      Email
    </label>
    <input type="text" class="form-control" id="emailInput" name="email" placeholder="Update email" value="<%= viewData?.email %>" required />
  </div>

  <div class="col-md-12">
    <label class="form-label" for="occupationInput">
      Occupation
    </label>
    <textarea class="form-control" id="occupationInput" name="occupation" placeholder="Update occupation" rows="1" required><%= viewData?.occupation %></textarea>
  </div>

  <div class="col-md-12">
    <label class="form-label" for="tagsInput">
      Tags
    </label>
    <input
      type="text"
      class="form-control"
      id="tagsInput"
      name="tags"
      placeholder="Enter tags, separated by commas"
      value="<%= viewData?.tags?.join(', ') %>" />
  </div>

  <div class="col-12">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="activeCheck" name="active" <% if (viewData?.active) { %> checked <% } %>
       
      <label class="form-check-label" for="activeCheck" id="statusLabel">
        <%= viewData?.active ? 'Active' : 'Inactive' %>
      </label>
    </div>
  </div>

  

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>
